.footer {
  background: var(--main-bg-color);
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-block {
  flex: 0 0 20vw;
  justify-content: center;
}
.item--number {
  color: var(--main-text-color);
}
